@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.stats{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap:20px
}

#coinsTable{
    width: 100%;
    border-collapse: collapse;
}

thead{
    border-bottom: 3px solid black;
}

#coinsTable th{
    font-size: 24px;
    padding: 1rem;
}
#coinstTable td{
    padding: 1rem;
}

tbody tr, tbody td{
    padding: 1rem;
}


tbody tr:hover{
    background-color: #f5f5f5;
}

tbody tr td:nth-child(4),tbody tr td:nth-child(5){
    font-weight: bold;
}

#coinsTable tr{
    text-align: center;
}


#coinsTable img{
    width: 30px;
    aspect-ratio: 1/1;
}

.fullName{
    display: flex;
    flex-direction: column;
}

.textGreen{
    color: rgb(0, 138, 0);
}
.textRed{
    color: rgb(255, 55, 55);
}